<ul class="nav na-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" routerLink="/reports">Reports</a>
    </li>
</ul>

<!-- <ul class="nav na-pills flex-column">
    <li *ngFor link in links>
        <a class="nav-link" routerLink="[link.route]">{{link.name}}</a>
    </li>
</ul> -->