* {
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1C2220;
    color: #f7fff7;
    height: 100%;
}

a {
    color: #44a4cd;
}

a:hover {
    color: #44a8cf;
}

.shadow {
    box-shadow: 0 8px 12px rgba(0,0,0,0.2), 0 5px 6px rgb(0,0,0,0.3);
}

.section-container {
    padding: 30px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
