.navbar-brand {
    text-align: center;
    padding: 8px 8px;
}

.logo {
    color: #fff;
    font-size: 1.3em;
}

.logo-left {
    background-color: #C39B32;
    display: inline-block;
    padding: 0px 8px 0px 8px;
    border-radius: 4px;
}

.logo-right {
    margin-left: 3px;
    padding: 3px 8px 3px 3px;
    border-radius: 4px;
}